body{
    background-color: #eeddc6;
}

a {
    text-decoration: none;
    color: #7c5226;
    font-family: 'Times New Roman'; 
    font-size: 20px;
}

a:link {
    text-decoration: none;
}   

a:hover {
    color: rgb(197, 188, 64);
   }

.menu {
    
    width: 900px;
    margin: auto;
}

.conteudo {
    width: 900px;
    margin: auto;
    font-family: 'ubunto', sans-serif ;
    font-size: 20px;
    text-align: justify;
}

.titles {
    font-size: 25px;
    font-weight: bold;
}

.form {
    width: 900px;
    margin: auto;
    font-family: 'ubunto', sans-serif ;
    
}

.caixas {
    border-radius: 5px;
}

.button {
    cursor: pointer;
    padding: 8px 8px;
    background-color:  #dfbc8c;
    border-radius: 5px;
}
