body{
    background-color: #eeddc6;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}   
   
a:hover {
    text-decoration: underline;
}

.menu {
    width: 900px;
    margin: auto;
}

.conteudo{
    width: 900px;
    margin: auto;  
}
